version: "3.7"
services:

  authenticator:
    volumes:
      - ./:/app
    environment:
      GOOGLE_CLIENT_ID: "1034883885605-gvj78f1cg3urngprb0jjfr3p0olqh8tr.apps.googleusercontent.com"
      GOOGLE_CLIENT_SECRET: "jPbO8Hxm20DkefDqmD4EyhCs"
      GITHUB_CLIENT_ID:  "147d2cadb82f19a22ab9"
      GITHUB_CLIENT_SECRET : "7f8b6dcd2fa7272698b3cd4906c0d537baa23382"
  mongo:
    image: mongo:latest
    volumes:
      - ~/work/data:/data/db
    ports:
      - 27017:27017
    networks:
      main:
        aliases:
          - mongo
